<div class="card mb-3">
  <!--
  <div class="card-header">
    <a href="{{include.url}}">{{include.speaker}}</a><span>, {{include.affiliation}}</span>
  </div>
  -->
  <div class="card-body">
    <p class="card-text">
      <div class="row">
        <div class="col text-center">
          <img src="{{include.img}}" class="card-img-top" alt="{{include.speaker}}">
    <a href="{{include.url}}">{{include.speaker}}</a><span>, {{include.affiliation}}</span>
        </div>
        <div class="col-8">
          <h5>{{include.title}}</h5>
          <p>{{include.abstract}}</p>
        </div>
      </div>
    </p>
  </div>
</div>
